

@{
    ViewData["Title"] = "Features";
}


<div class="container big-contain">
    <div class="title-search">
        <h2 style="color:#fff">Các tính năng chính</h2>
        <p style="color:#fff">1.Trang chủ xem phim, chuyển page</p>
        <p style="color:#fff">2.Trang chi tiết phim, xem phim, chọn tập</p>
        <p style="color:#fff">3.Tìm kiếm theo tên chính, tên phụ, phân trang theo kết quả</p>
        <p style="color:#fff">Lưu ý: Hình ảnh từ api nên load chậm</p>
        <h2 style="color:#fff">API nguồn từ <a href="https://www.ophim.cc" target="_blank">Ổ Phim</a></h2>
    </div>
</div>